apiVersion: v1
kind: ConfigMap
metadata:
    name: payment-configmap
    namespace: payment
data:
    APPLICATION_PORT: "8080"
    MERCADO_PAGO_BASE_URL: "https://api.mercadopago.com"
    AWS_REGION: "sa-east-1"
